<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>{:啦啦啦:}</string>
		<key>gif</key>
		<string>3_101.gif</string>
		<key>chs</key>
		<string>{:啦啦啦:}</string>
		<key>png</key>
		<string>3_101.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:我的天:}</string>
		<key>gif</key>
		<string>3_102.gif</string>
		<key>chs</key>
		<string>{:我的天:}</string>
		<key>png</key>
		<string>3_102.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:飚眼泪:}</string>
		<key>gif</key>
		<string>3_103.gif</string>
		<key>chs</key>
		<string>{:飚眼泪:}</string>
		<key>png</key>
		<string>3_103.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:吓尿你:}</string>
		<key>gif</key>
		<string>3_104.gif</string>
		<key>chs</key>
		<string>{:吓尿你:}</string>
		<key>png</key>
		<string>3_104.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:耍大牌:}</string>
		<key>gif</key>
		<string>3_105.gif</string>
		<key>chs</key>
		<string>{:耍大牌:}</string>
		<key>png</key>
		<string>3_105.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:哎呦喂:}</string>
		<key>gif</key>
		<string>3_106.gif</string>
		<key>chs</key>
		<string>{:哎呦喂:}</string>
		<key>png</key>
		<string>3_106.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:生病了:}</string>
		<key>gif</key>
		<string>3_107.gif</string>
		<key>chs</key>
		<string>{:生病了:}</string>
		<key>png</key>
		<string>3_107.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:左斜眼:}</string>
		<key>gif</key>
		<string>3_108.gif</string>
		<key>chs</key>
		<string>{:左斜眼:}</string>
		<key>png</key>
		<string>3_108.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:真汗颜:}</string>
		<key>gif</key>
		<string>3_109.gif</string>
		<key>chs</key>
		<string>{:真汗颜:}</string>
		<key>png</key>
		<string>3_109.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:笑哭脸:}</string>
		<key>gif</key>
		<string>3_110.gif</string>
		<key>chs</key>
		<string>{:笑哭脸:}</string>
		<key>png</key>
		<string>3_110.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:小恶魔:}</string>
		<key>gif</key>
		<string>3_111.gif</string>
		<key>chs</key>
		<string>{:小恶魔:}</string>
		<key>png</key>
		<string>3_111.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:别看啦:}</string>
		<key>gif</key>
		<string>3_112.gif</string>
		<key>chs</key>
		<string>{:别看啦:}</string>
		<key>png</key>
		<string>3_112.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:飞个吻:}</string>
		<key>gif</key>
		<string>3_113.gif</string>
		<key>chs</key>
		<string>{:飞个吻:}</string>
		<key>png</key>
		<string>3_113.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:秀肌肉:}</string>
		<key>gif</key>
		<string>3_114.gif</string>
		<key>chs</key>
		<string>{:秀肌肉:}</string>
		<key>png</key>
		<string>3_114.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:不开心:}</string>
		<key>gif</key>
		<string>3_115.gif</string>
		<key>chs</key>
		<string>{:不开心:}</string>
		<key>png</key>
		<string>3_115.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:爱死了:}</string>
		<key>gif</key>
		<string>3_116.gif</string>
		<key>chs</key>
		<string>{:爱死了:}</string>
		<key>png</key>
		<string>3_116.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:小鲸鱼:}</string>
		<key>gif</key>
		<string>3_117.gif</string>
		<key>chs</key>
		<string>{:小鲸鱼:}</string>
		<key>png</key>
		<string>3_117.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>{:嘻嘻笑:}</string>
		<key>gif</key>
		<string>3_118.gif</string>
		<key>chs</key>
		<string>{:嘻嘻笑:}</string>
		<key>png</key>
		<string>3_118.png</string>
	</dict>
</array>
</plist>
